{% extends "base.html" %}

{% block style %}

.parent {
    display : flex;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.test_list{
    flex : 1;
    width: 100%;
    padding: 10px;
    text-align : center;
    border: 5px solid;
}

.container{
    flex : 3;
    display : flex;
    border: 5px solid;
    margin: auto;
    width: 50%;
    padding: 10px;
}
.main{
    flex: 3; /* Takes up 75% of available space */
    background-color: #f0f0f0; /* Just for demonstration, you can set your desired background color */
    padding: 10px; /* Add padding as needed */
  }

  .side {
    flex: 1; /* Takes up the remaining 25% of available space */
    background-color: #ccc; /* Just for demonstration, you can set your desired background color */
    padding: 10px; /* Add padding as needed */
  }



{% endblock style %}


{% block body %}


<div class="parent"> 

    <div class="container">
        <div class="main">
            <h2>Today's Current Affairs</h2>
            {% for article in current %}
            <a href="show_article/{{article.id}}"><h4>{{article.heading}}</h4></a>
            {{article.date}}
            <br>
            <hr>
            {% endfor %}
        </div>
        <div class="side">
            <h2>
                Past Current Affairs
            </h2>
            {% for date in previous %}
                <a href="/show_previous_articles/{{date.date}}">{{date.date}}</a>
                <hr>
            {% endfor %}+

        </div>
    </div>

    <div class="test_list">
        <h2> Take Test </h2>
        {% for test in tests %}
        <a href="/test_list/{{test.subject}}">{{test.subject}} Tests</a>
        <hr>
        {% endfor %}
    </div>

</div>

            
           
{% endblock body %}

